name: CI
on:
  push:
    branches: [master1]
  # Repository Dispatch
  repository_dispatch:
    types: [build]
env:
  WF_ENV: workflow-env_Variable Available to this Workflow
jobs:
  BuildJob:
    runs-on: ubuntu-latest
    env:
        JOB_ENV: Job-env_Variable Available to this Job
    steps:
      - name: Check Envrironment Variable Step 1 
        env:
          STEP_ENV: Step-env Available to this Step1
        run: |
           echo "WF_ENV: ${WF_ENV}"
           echo "JOB_ENV: ${JOB_ENV}"
           echo "STEP_ENV: ${STEP_ENV}"
           echo "PASSCODE : ${WF_PASSCODE}"
           echo "GITHUB_SHA: ${GITHUB_SHA}"
           echo "GITHUB_REPOSITORY: ${GITHUB_REPOSITORY}"
      - name: Check Envrironment Variable Step 2
        run: |
           echo "WF_ENV: ${WF_ENV}"
           echo "JOB_ENV: ${JOB_ENV}"
           echo "STEP_ENV: ${STEP_ENV}"
           echo "PASSCODE : ${WF_PASSCODE}"
           echo "GITHUB_SHA: ${GITHUB_SHA}"
           echo "GITHUB_REPOSITORY: ${GITHUB_REPOSITORY}"
      - name: Check Run folder 
        run: |
             pwd
             ls
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Check out the Branch
        uses: actions/checkout@v2
      # Runs a single command using the runners shell
      - name: Check Run folder after Checkout 
        run: |
             pwd
             ls
  Deploy:
    needs: BuildJob
    runs-on: ubuntu-latest
    steps:
      - name: Check Envrironment Variable in Job 2 
        run: |
           echo "WF_ENV: ${WF_ENV}"
           echo "JOB_ENV: ${JOB_ENV}"
           echo "STEP_ENV: ${STEP_ENV}"
           echo "PASSCODE : ${WF_PASSCODE}"
           echo "GITHUB_SHA: ${GITHUB_SHA}"
           echo "GITHUB_REPOSITORY: ${GITHUB_REPOSITORY}"
      - name: Simple JS Actions
        id: greet
        uses: actions/hello-world-javascript-action@v1
        with:
          who-to-greet: Shobana

