name: CI
on:
  pull_request:
    branches: [master]
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the Branch
        uses: actions/checkout@v2
      - name: Use NodeJS
        uses: actions/setup-node@v1
        with:
          node-version: "12.x"
      - run: npm ci 
      - run: npm run checkstyle
      - run: npm run build
      - name: Upload Build Artifact
        if: ${{ success() }}
        uses: actions/upload-artifact@v2
        with:
          name: build
          path: build
      - run: npm test -- --coverage
        env:
          CI: true
      - name: Upload Test Coverage
        if: ${{ success() }}
        uses: actions/upload-artifact@v2
        with:
          name: code-coverage
          path: coverage
      - name: Deploy the App
        id: pushstep
        if: github.event_name == 'push'
        run: echoo 'deploying to Azure'
      - name: Slack Notification
        if: failure() && github.event_name == 'push'
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_COLOR: '#3278BD'
          SLACK_MESSAGE: 'Deployment Failed ${steps.pushstep.outputs}'
          SLACK_TITLE: Deployment Failed
          SLACK_USERNAME: rtCamp
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
      - name: Echo Step status
        if: always() && github.event_name == 'push'
        run: echo "WF_ENV:${steps.pushstep.outputs}" 