name: Deployment
on:
  pull_request:
    branches: [master]
  push:
    branches:
      - master
env:
  AZURE_WEBAPP_NAME: simpleappsm    # set this to your application's name
  AZURE_WEBAPP_PACKAGE_PATH: '.'      # set this to the path to your web app project, defaults to the repository root
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the Branch
        id: checkout
        uses: actions/checkout@v2
      - name: Use NodeJS
        uses: actions/setup-node@v1
        with:
          node-version: "12.x"
      - run: npm ci 
      - run: npm run checkstyle
      - run: npm run build
      - name: Upload Build Artifact
        if: ${{ success() }}
        uses: actions/upload-artifact@v2
        with:
          name: build
          path: build
      - run: npm test -- --coverage
        env:
          CI: true
      - name: Upload Test Coverage
        if: ${{ success() }}
        uses: actions/upload-artifact@v2
        with:
          name: code-coverage
          path: coverage
  Deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.event_name == 'push'
    steps:
      - name: 'Deploy to Azure WebApp'
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
      - name: Open Issue 
        if: failure()
        run: |
          curl --request POST \
          --url https://api.github.com/repos/${{ github.repository }}/issues \
          --header 'authorization: Bearer ${{ secrets.CUSTOM_TOKEN }}' \
          --header 'content-type: application/json' \
          --data '{
            "title": "Automated issue for commit: ${{ github.sha }}",
            "body": "This issue was automatically created by the GitHub Action workflow **${{ github.workflow }}**. \n\n The commit hash was: _${{ github.sha }}_.",
            "assignees": ["${{ github.event.pull_request.user.login }}"]
            }'
      - name: Slack Notification
        if: always()
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_COLOR: '#3278BD'
          SLACK_MESSAGE: 'WORKFLOW COMPLETE ${steps.pushstep.outcome}'
          SLACK_TITLE: WORKFLOW COMPLETE
          SLACK_USERNAME: rtCamp
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
